.auth-header {
    background-color: $header-color;
    color: $bar-text;

    #auth-close-button {
        color: inherit;

        &:before {
            font-size: 22px;
        }
    }

    .title {
        color: inherit;
    }
}

.button.login-button {
    margin-top: 30px;
}
