.button.modal-select-close-button, .button.modal-select-close-button.active, .button.modal-select-close-button.activated {
	border-color: transparent;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    font-size: 17px;
    padding-right: 2px;
    padding-left: 2px;
    font-weight: 300;
    transition: opacity 0.1s;
}

.button.modal-select-close-button.active, .button.modal-select-close-button.activated {
	opacity: 0.3;
}