<ion-view side-menu-active="false" hide-nav-bar="true">
    <ion-content overflow-scroll="true" class="shipping">
        <div class="thankyou-section">
            <i class="thankyou-icon" ng-class="{'thankyou-icon-fail': !thankyou.orderSuccessfull}"></i>
            <div class="thankyou-title" ng-if="thankyou.orderSuccessfull">{{ :: 'checkout.thankyou.orderAccepted' | translate }}</div>
            
            <div class="thankyou-title" ng-if="!thankyou.orderSuccessfull">{{ :: 'checkout.thankyou.orderRejected' | translate }}</div>
            
            <div class="thankyou-message" ng-if="thankyou.orderSuccessfull">{{ :: 'checkout.thankyou.order' | translate}} <b>{{ :: thankyou.orderId }}</b> {{ :: 'checkout.thankyou.orderAcceptedMessage' | translate}}</div>
            
            <div class="thankyou-message" ng-if="!thankyou.orderSuccessfull">{{ :: 'checkout.thankyou.order' | translate}} <b>{{ :: thankyou.orderId }}</b> {{ :: 'checkout.thankyou.orderRejectedMessage' | translate}}</div>
            
            <div class="thankyou-message thankyou-stretch" ng-if="thankyou.message" ng-bind-html="thankyou.message | trustHtml"></div>
            <button class="button button-outline thankyou-button" ng-click="thankyou.goHome()">{{ :: 'checkout.thankyou.backToShopping' | translate }}</button>
        </div>
    </ion-content>
</ion-view>
